@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Pacifico&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
*{
  /* font-family: 'Zilla Slab', serif; */
  font-family: 'Noto Serif JP', serif;
}
body {
  background-image: url("../assets/images/backgound.jpg");
  background-size: 1540px 740px;
}
.zilla-font{
  font-family: 'Zilla Slab', serif;
}
.glass-nav-bar {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 8px whitesmoke;
}
#logo-size {
  width: 200px;
  height: 75px;
}
.btn-color-global{
  background-color: rgb(40, 174, 179) !important;
  font-weight: bold !important;
  color: rgb(253, 253, 253) !important;
  font-size: 17px !important;
}
.btn-color-home {
  background-color: darkblue !important;
}
.home-background {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.7px);
  -webkit-backdrop-filter: blur(15.7px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 8px whitesmoke;
}
@media only screen and (min-width: 800px){
    .nav-margin-1 {
        margin-left: 130px;
    }
    .nav-hire-me-btn {
        margin-right: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); 
    }
    .home-section{
      margin-top:120px !important;
    }
    .home-elements{
        height: 620px;
        
    }
    .home-items-1{
        margin-top: 180px !important;
        margin-left: 30px;
    }
    
}

.name-font{
  font-family: 'Leckerli One', cursive;
}
.nav-btn {
  box-shadow: 1px 1px 8px rgb(5, 57, 97);
}
.white-font{
  color: white;
  
}
.title::after{
    content: '';
    display: block;
    align-items: center;
    width: 3rem;
    margin: 1rem auto 1.5rem;
    border-top: 2px solid #f5ba4b;
}








/* Card */
.width-for-card{
  margin-top:100px;
  width:320px;
}
.single_advisor_profile {
  position: relative;
  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.single_advisor_profile .advisor_thumb {
  position: relative;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  background-color: #3f43fd;
  overflow: hidden;
}
.single_advisor_profile .advisor_thumb::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 150%;
  height: 80px;
  bottom: -45px;
  left: -25%;
  content: "";
  background-color: #ffffff;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
@media only screen and (max-width: 575px) {
  .single_advisor_profile .advisor_thumb::after {
      height: 160px;
      bottom: -90px;
  }
}
.single_advisor_profile .advisor_thumb .social-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 30px;
  text-align: right;
}
.single_advisor_profile .advisor_thumb .social-info a {
  font-size: 14px;
  color: #020710;
  padding: 0 5px;
}
.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
  color: #3f43fd;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
  padding-right: 0;
}
.single_advisor_profile .single_advisor_details_info {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: #ffffff;
}
.single_advisor_profile .single_advisor_details_info::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 3px;
  background-color: #3f43fd;
  content: "";
  top: 12px;
  right: 30px;
}
.single_advisor_profile .single_advisor_details_info h6 {
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info h6 {
      font-size: 14px;
  }
}
.single_advisor_profile .single_advisor_details_info p {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info p {
      font-size: 12px;
  }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
  background-color: #070a57;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
  color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
  color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
  background-color: #070a57;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
  background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
  color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
  color: #ffffff;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}
.bg-gradient-primary-to-secondary {
  background: #1e30f3;
  background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}
.rounded-3 {
  border-radius: var(--bs-border-radius-lg) !important;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.text-gradient {
  background: -webkit-linear-gradient(315deg, #9195c6 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.d-inline {
  display: inline !important;
}

.lang-circle {
  background: #1e30f3;
  background: linear-gradient(135deg, #f9f9f9 0%, #c0d489 100%);
   width: 100px; 
   height: 100px;
   box-shadow: 1px 1px 8px rgb(195, 201, 205);
}
.lang-circle-2{
  width: 77px;
  height: 77px;
}


