@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Pacifico&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
*{
  /* font-family: 'Zilla Slab', serif; */
  font-family: 'Noto Serif JP', serif;
}
body {
  background-image: url("../assets/images/backgound.jpg");
  background-size: 1540px 740px;
}
.zilla-font{
  font-family: 'Zilla Slab', serif;
}
.size-section{
  height:650px ;
}

/* Navigation Bar */
.glass-nav-bar {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 8px whitesmoke;
}
.logo-size {
  width: 200px;
  height: 75px;
}
.btn-color-global{
  background-color: rgb(40, 174, 179) !important;
  font-weight: bold !important;
  color: rgb(253, 253, 253) !important;
  font-size: 17px !important;
}
.btn-color-home {
  background-color: darkblue !important;
}

/* Home Section */
.home-background {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.7px);
  -webkit-backdrop-filter: blur(15.7px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 8px whitesmoke;
}
@media only screen and (min-width: 800px){
    .nav-margin-1 {
        margin-left: 130px;
    }
    .nav-hire-me-btn {
        margin-right: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); 
    }
    .home-section{
      margin-top:120px !important;
    }
    .home-elements{
        height: 620px;
        
    }
    .home-items-1{
        margin-top: 180px !important;
        margin-left: 30px;
    }
    
}

.name-font{
  font-family: 'Leckerli One', cursive;
}
.nav-btn {
  box-shadow: 1px 1px 8px rgb(5, 57, 97);
}
.white-font{
  color: white;
  
}
.title::after{
    content: '';
    display: block;
    align-items: center;
    width: 3rem;
    margin: 1rem auto 1.5rem;
    border-top: 2px solid #f5ba4b;
}

/* Home Section Card */
.width-for-card{
  margin-top:100px;
  width:320px;
}
.single_advisor_profile {
  position: relative;

  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.single_advisor_profile .advisor_thumb {
  position: relative;
  height: 330px;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  padding: 30px 20px 0 30px;
  background-color: #3f43fd;
  overflow: hidden;
}
.single_advisor_profile img {
  border-radius: 1rem;
}
.single_advisor_profile .advisor_thumb::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 150%;
  height: 80px;
  bottom: -45px;
  left: -25%;
  content: "";
  background-color: #ffffff;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
@media only screen and (max-width: 575px) {
  .single_advisor_profile .advisor_thumb::after {
      height: 160px;
      bottom: -90px;
  }
}
.single_advisor_profile .advisor_thumb .social-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 30px;
  text-align: right;
}
.single_advisor_profile .advisor_thumb .social-info a {
  font-size: 14px;
  color: #020710;
  padding: 0 5px;
}
.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
  color: #3f43fd;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
  padding-right: 0;
}
.single_advisor_profile .single_advisor_details_info {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: #ffffff;
}
.single_advisor_profile .single_advisor_details_info::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 3px;
  background-color: #3f43fd;
  content: "";
  top: 12px;
  right: 30px;
}
.single_advisor_profile .single_advisor_details_info h6 {
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info h6 {
      font-size: 14px;
  }
}
.single_advisor_profile .single_advisor_details_info p {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info p {
      font-size: 12px;
  }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
  background-color: #070a57;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
  color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
  color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
  background-color: #070a57;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
  background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
  color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
  color: #ffffff;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}
.bg-gradient-primary-to-secondary {
  background: #1e30f3;
  background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}
.rounded-3 {
  border-radius: var(--bs-border-radius-lg) !important;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.text-gradient {
  background: -webkit-linear-gradient(315deg, #9195c6 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.d-inline {
  display: inline !important;
}

.lang-circle {
  background: #1e30f3;
  background: linear-gradient(135deg, #f9f9f9 0%, #c0d489 100%);
   width: 100px; 
   height: 100px;
   box-shadow: 1px 1px 8px rgb(195, 201, 205);
}
.lang-circle-2{
  width: 77px;
  height: 77px;
}


.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  content: '';
  z-index: -1;
}
a.card {
  text-decoration: none;
}

.card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .25rem;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.bg-white {
  background-color: #fff !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
img, figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.card-text {
  padding-top: 12px;
  color: #8c8c8c;
}

.text-sm {
  font-size: 12px !important;
}
p, .p {
  margin: 0 0 16px;
}

.card-title {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.pt-1, .py-1 {
  padding-top: .25rem !important;
}

.head-icon{
  margin-top:18px;
  color:#100588
}

.services-list{
  margin:30px !important;
}

/* Portfolio */


.fs-7 {
  font-size: .875rem!important
}

.mb-8 {
  margin-bottom: 4.5rem!important
}

.mb-9 {
  margin-bottom: 5rem!important
}

.mb-auto {
  margin-bottom: auto!important
}

.py-8 {
  padding-bottom: 4.5rem!important;
  padding-top: 4.5rem!important
}

.py-9 {
  padding-bottom: 5rem!important;
  padding-top: 5rem!important
}

@media(min-width: 576px) {
  .mb-sm-8 {
      margin-bottom:4.5rem!important
  }

  .mb-sm-9 {
      margin-bottom: 5rem!important
  }

  .mb-sm-auto {
      margin-bottom: auto!important
  }

  .py-sm-8 {
      padding-bottom: 4.5rem!important;
      padding-top: 4.5rem!important
  }

  .py-sm-9 {
      padding-bottom: 5rem!important;
      padding-top: 5rem!important
  }
}

@media(min-width: 768px) {
  .mb-md-8 {
      margin-bottom:4.5rem!important
  }

  .mb-md-9 {
      margin-bottom: 5rem!important
  }

  .mb-md-auto {
      margin-bottom: auto!important
  }

  .py-md-8 {
      padding-bottom: 4.5rem!important;
      padding-top: 4.5rem!important
  }

  .py-md-9 {
      padding-bottom: 5rem!important;
      padding-top: 5rem!important
  }
}

@media(min-width: 992px) {
  .mb-lg-8 {
      margin-bottom:4.5rem!important
  }

  .mb-lg-9 {
      margin-bottom: 5rem!important
  }

  .mb-lg-auto {
      margin-bottom: auto!important
  }

  .py-lg-8 {
      padding-bottom: 4.5rem!important;
      padding-top: 4.5rem!important
  }

  .py-lg-9 {
      padding-bottom: 5rem!important;
      padding-top: 5rem!important
  }
}

@media(min-width: 1200px) {
  .mb-xl-8 {
      margin-bottom:4.5rem!important
  }

  .mb-xl-9 {
      margin-bottom: 5rem!important
  }

  .mb-xl-auto {
      margin-bottom: auto!important
  }

  .py-xl-8 {
      padding-bottom: 4.5rem!important;
      padding-top: 4.5rem!important
  }

  .py-xl-9 {
      padding-bottom: 5rem!important;
      padding-top: 5rem!important
  }
}

@media(min-width: 1400px) {
  .mb-xxl-8 {
      margin-bottom:4.5rem!important
  }

  .mb-xxl-9 {
      margin-bottom: 5rem!important
  }

  .mb-xxl-auto {
      margin-bottom: auto!important
  }

  .py-xxl-8 {
      padding-bottom: 4.5rem!important;
      padding-top: 4.5rem!important
  }

  .py-xxl-9 {
      padding-bottom: 5rem!important;
      padding-top: 5rem!important
  }
}

.bsb-animated {
  --bsb-animation-duration: 1s;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both
}

@keyframes bsb-fadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.bsb-fadeIn {
  animation-name: bsb-fadeIn
}

@keyframes bsb-fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0,100%,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

.bsb-fadeInUp {
  animation-name: bsb-fadeInUp
}

@keyframes bsb-fadeInDown {
  0% {
      opacity: 0;
      transform: translate3d(0,-100%,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

.bsb-fadeInDown {
  animation-name: bsb-fadeInDown
}

@keyframes bsb-fadeInLeft {
  0% {
      opacity: 0;
      transform: translate3d(-100%,0,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

.bsb-fadeInLeft {
  animation-name: bsb-fadeInLeft
}

@keyframes bsb-fadeInRight {
  0% {
      opacity: 0;
      transform: translate3d(100%,0,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

.bsb-fadeInRight {
  animation-name: bsb-fadeInRight
}

@keyframes bsb-fadeOut {
  0% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

.bsb-fadeOut {
  animation-name: bsb-fadeOut
}

@keyframes bsb-fadeOutUp {
  0% {
      opacity: 1
  }

  to {
      opacity: 0;
      transform: translate3d(0,-100%,0)
  }
}

.bsb-fadeOutUp {
  animation-name: bsb-fadeOutUp
}

@keyframes bsb-fadeOutDown {
  0% {
      opacity: 1
  }

  to {
      opacity: 0;
      transform: translate3d(0,100%,0)
  }
}

.bsb-fadeOutDown {
  animation-name: bsb-fadeOutDown
}

@keyframes bsb-fadeOutLeft {
  0% {
      opacity: 1
  }

  to {
      opacity: 0;
      transform: translate3d(-100%,0,0)
  }
}

.bsb-fadeOutLeft {
  animation-name: bsb-fadeOutLeft
}

@keyframes bsb-fadeOutRight {
  0% {
      opacity: 1
  }

  to {
      opacity: 0;
      transform: translate3d(100%,0,0)
  }
}

.bsb-fadeOutRight {
  animation-name: bsb-fadeOutRight
}

@keyframes bsb-zoomIn {
  0% {
      opacity: 0;
      transform: scale3d(.3,.3,.3)
  }

  50% {
      opacity: 1
  }
}

.bsb-zoomIn {
  animation-name: bsb-zoomIn
}

.bsb-overlay {
  --bsb-overlay-opacity: 0.5;
  --bsb-overlay-bg-color: var(--bs-black-rgb);
  position: relative
}

.bsb-overlay:after {
  background-color: rgba(var(--bsb-overlay-bg-color),var(--bsb-overlay-opacity));
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.bsb-overlay>* {
  position: relative;
  z-index: 1
}

.bsb-overlay-figure {
  --bsb-overlay-figure-opacity: 0.5;
  --bsb-overlay-figure-bg-color: var(--bs-black-rgb);
  position: relative
}

.bsb-overlay-figure:after {
  background-color: rgba(var(--bsb-overlay-figure-bg-color),var(--bsb-overlay-figure-opacity));
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.bsb-overlay-hover {
  --bsb-overlay-hover-opacity: 0.5;
  --bsb-overlay-hover-bg-color: var(--bs-black-rgb);
  position: relative
}

.bsb-overlay-hover>a {
  bottom: 0;
  display: block;
  left: 0;
  position: relative;
  right: 0;
  top: 0
}

.bsb-overlay-hover>a>img.bsb-scale {
  --bsb-scale: 1
}

.bsb-overlay-hover>a>img.bsb-scale,.bsb-overlay-hover>a>img.bsb-scale-up {
  transform: scale3d(var(--bsb-scale),var(--bsb-scale),var(--bsb-scale));
  transform-style: preserve-3d;
  transition: transform .5s
}

.bsb-overlay-hover>a>img.bsb-scale-up {
  --bsb-scale: 1.2
}

.bsb-overlay-hover>a:after {
  background-color: rgba(var(--bsb-overlay-hover-bg-color),var(--bsb-overlay-hover-opacity));
  content: "";
  cursor: pointer!important;
  display: block;
  z-index: 0
}

.bsb-overlay-hover>a:after,.bsb-overlay-hover>figcaption {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0
}

.bsb-overlay-hover>figcaption {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  z-index: 1
}

.bsb-overlay-hover>figcaption>* {
  opacity: 0
}

.bsb-overlay-hover:hover>a>img.bsb-hover-scale {
  --bsb-scale-hover: 1;
  transform: scale3d(var(--bsb-scale-hover),var(--bsb-scale-hover),var(--bsb-scale-hover))
}

.bsb-overlay-hover:hover>a>img.bsb-hover-scale-up {
  --bsb-scale-hover: 1.2;
  transform: scale3d(var(--bsb-scale-hover),var(--bsb-scale-hover),var(--bsb-scale-hover))
}

.bsb-overlay-hover:hover>a:after {
  opacity: 1;
  transition: opacity .15s linear
}

.bsb-overlay-hover:hover>figcaption {
  opacity: 1;
  transition: opacity .15s linear .1s
}

.bsb-overlay-hover:hover>figcaption>.bsb-hover-fadeIn {
  --bsb-animation-duration: 500ms;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both;
  animation-name: bsb-fadeIn
}

.bsb-overlay-hover:hover>figcaption>.bsb-hover-fadeInUp {
  --bsb-animation-duration: 500ms;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both;
  animation-name: bsb-fadeInUp
}

.bsb-overlay-hover:hover>figcaption>.bsb-hover-fadeInDown {
  --bsb-animation-duration: 500ms;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both;
  animation-name: bsb-fadeInDown
}

.bsb-overlay-hover:hover>figcaption>.bsb-hover-fadeInLeft {
  --bsb-animation-duration: 500ms;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both;
  animation-name: bsb-fadeInLeft
}

.bsb-overlay-hover:hover>figcaption>.bsb-hover-fadeInRight {
  --bsb-animation-duration: 500ms;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both;
  animation-name: bsb-fadeInRight
}

.bsb-overlay-hover:hover>figcaption>.bsb-hover-zoomIn {
  --bsb-animation-duration: 500ms;
  animation-duration: var(--bsb-animation-duration);
  animation-fill-mode: both;
  animation-name: bsb-zoomIn
}

.peach-gradient {
  background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
}

.get-touch{
  background: linear-gradient(40deg,#d5d1c7,#a19de6) !important;
  width: 620px!important;
  height: 540px !important;
  margin-left: 25px;
  padding-top: 10px;
  border-radius: 3rem;
  box-shadow: inset 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  background: rgb(40,174,179) !important;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s !important;
  border-radius: 4px !important;
}

.form-bg{
  width: 620px!important;
  height: 540px !important;
  background: rgba( 255, 255, 255, 0.05 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 3rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.footer-icon{
  height: 70px;
  width: 70px;
  cursor: pointer;
}