body {
  background-image: url("../assets/images/backgound.jpg");
  background-size: 1540px 740px;
}

#glass-nav-bar {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 8px whitesmoke;
}
#logo-size {
  width: 200px;
  height: 75px;
}

#home-background {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.7px);
  -webkit-backdrop-filter: blur(15.7px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.7px);
  -webkit-backdrop-filter: blur(15.7px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
@media only screen and (min-width: 800px){
    .nav-margin-1 {
        margin-left: 130px;
    }
}
@media only screen and (min-width: 800px){
    .nav-hire-me-btn {
        margin-right: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); 
    }
}
.nav-btn {
  box-shadow: 1px 1px 8px rgb(173, 199, 68);
}
